/Prompt_Is_All_You_Need/gradio_streamimg_chatbot1111.py
/Prompt_Is_All_You_Need/gradio_streamimg_chatbot_azure.py
/Prompt_Is_All_You_Need/DanBrownGPT.py
/Prompt_Is_All_You_Need/try_whisper.py
/Prompt_Is_All_You_Need/temp.wav
