/prompt_is_all_you_need/gradio_streamimg_chatbot1111.py
/prompt_is_all_you_need/gradio_streamimg_chatbot_azure.py
/prompt_is_all_you_need/DanBrownGPT.py
/prompt_is_all_you_need/try_whisper.py
/prompt_is_all_you_need/temp.wav
