gradio>=3.47.1
regex>=2022.10.31
openai>=0.27.2
requests>=2.28.1
pillow>=9.4.0
beautifulsoup4>=4.11.1
numpy>=1.23.5
opencv-python>=4.7.0.68
markdown2>=2.4.8
tiktoken>=0.3.3
openai-async
asyncio>=3.4.3
whisper>=1.1.10
pytube>=12.1.2
pydub>=0.25.1
pdfminer.six==20221105
nest-asyncio
Markdown
latex2mathml