gradio>=4.7.1
regex>=2022.10.31
openai>=1.1.1
requests>=2.28.1
pillow>=9.4.0
beautifulsoup4>=4.11.1
numpy>=1.23.5
opencv-python>=4.7.0.68
markdown2>=2.4.8
tiktoken>=0.3.3
asyncio>=3.4.3
whisper>=1.1.10
pydub>=0.25.1
Markdown~=3.4.1
soundfile~=0.12.1
torch~=2.0.1
pandas~=1.5.2
pathlib~=1.0.1
tqdm~=4.64.1
setuptools~=67.8.0
SQLAlchemy>=2.0.0
prompt4all~=0.0.6
pyodbc