gradio~=4.13.0
regex~=2022.10.31
openai~=1.3.7
requests~=2.31.0
pillow
beautifulsoup4~=4.11.1
numpy~=1.23.5
markdown2~=2.4.8
tiktoken~=0.3.3
asyncio~=3.4.3
whisper~=1.1.10
pydub~=0.25.1
Markdown~=3.4.1
soundfile~=0.12.1
pandas~=1.5.2
pathlib~=1.0.1
tqdm~=4.64.1
setuptools~=67.8.0
SQLAlchemy~=2.0.20
pyodbc~=5.0.1
lxml~=4.9.2
markdownify~=0.11.6
fastapi~=0.104.1
parso~=0.8.3
pydocstring~=0.2.1
matplotlib~=3.6.2
mpld3~=0.5.10
seaborn~=0.12.2
selenium
torch~=2.0.1+cu118
chardet~=5.2.0
uvicorn~=0.21.1
pdfminer.six